.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  padding: 20px;
  color: #fff;
}

.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
