/* General Styles for Home */
.home-container {
  width: auto;  /* Ensures the container has a max width */
  margin: 0 auto;     /* Centers the container */
  padding: 0 20px;    /* Adds some space on the sides */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .home-container {
    padding: 0 10px;  /* Reduce padding on smaller screens */
  }
}
